*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(244, 246, 246);

}

.titulo{
  text-align: left;
  /*background: gray;*/
  justify-content: left;

}

.contenedor{
  display: flex;
  background-size: cover;
  text-align: right;
  border: solid 2px black;  
}

img{
  height: 500px;
  width: 500px;
}

.hijo{
  background: blue;
  text-align: right;
  justify-content: right;
  font-size: 20px;
  
}
.enlace{
  margin: 0;
  padding: 15px;
  /*background: yellow;*/
  text-decoration: none;
  
  color: azure;
}

.enlace:hover{
  background-color: darkgray;
}


